.jumbotron{
    padding-top: 2rem;
    background-color: #aeb8bac7;
}
.secondpage{
    background-color: rgb(171, 231, 231);
}
.thirdpage{
    background-color: aqua;
}

.fourpage{
    background-color: rgb(186, 131, 131);
}